/*#########Default############*/

nav,header,footer{
    display: :block;
}

body{
    background-color: #778899;
    width: 100%;
    line-height: 1;
    margin: 0;
    font-style: italic;
    font-family: cursive;
    color:#19184d;
}

* {
    box-sizing: border-box;
}

p{
  font-size: 20px;
    font-weight: bolder;
}

label{
    font-size: 35px;
    font-weight: bolder;
}

article p{
    font-size: 20px;
    padding: 20px;
    font-family: serif; color: aqua;
    
}
article p:hover{
    cursor: pointer;
    color: white;
}

/*########################*/

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after{
    display: table;
    clear: both;
    content: "";
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


/*########Nav bar#######*/

nav {
    width:100%;
    margin: auto;
    width: 97%;
    padding: 0;
    border-radius: 10px;
}

nav ul {
    background-color: ghostwhite;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    color: palevioletred;
    font-size: 18px;
}

ul.topnav li a:hover{
    color: black;
}

ul.topnav li.dropdownicon{
    display: none;
    font-size: 30px;
}

nav ul li button{
    font-size:20px;
    color:#87b1ac;
    outline: none;
    border:none;
    background: transparent;
    cursor: pointer;
}

nav ul li button:hover{
    color:white;
}

/*######foto slider##########*/

.maindiv{
    width: 100%;
    height:240px;
    background-image: url('mountain.jpg');
    background-size: 100% 100%;
    filter:  drop-shadow(0 0 0.75rem white);
    animation:slider 9s infinite linear;
}
@keyframes slider {
    0%{background-image: url('fotos/image1.jpeg');}
    35%{background-image: url('fotos/image4.png');}
    75%{background-image: url('fotos/image3.jpg');}
}

/*######custom style########*/    

ul li {
    list-style: none;
}

.leftside-col{
    margin-left:10%; 
}

.rightside-col{
    margin-left: 10%;
}

h1.large{
    color: antiquewhite;
    font-size: 56;
    margin: 0;
    line-height: 70px;
}

h1.section2header {
    font-size: 65px;
    text-align: center;
}

input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

/*#########boxes############*/

div.box{
    background-color: mintcream;
    border-radius: 10px;
    padding: 36px 24px 40px 24px;
    margin: 20px;
    text-align: center;
    filter:  drop-shadow(0 0 0.75rem #19184d);
}

div.michabox, div.erginbox, div.ahmadbox, div.Ahmadbox{
    align-items: center;
    height: 350px;
    background-color: ;
}

div.boxslider{
    height: 100%;
    filter:  drop-shadow(0 0 0.75rem #19184d);
    width: 100%;
}

div.boxarticle p{
    color: palevioletred;
}

div.box foto img{
    width: 100% ;
}

div.icon,.icon1,.personalfhoto{
    margin:10px;
    border-radius: 20px;
}

div.icon img{ 
    width: 100%;
    overflow: hidden;
    display: block;
    margin: auto ;
    filter:  drop-shadow(0 0 0.75rem crimson);
    background-color: aqua;
}

div.icon1{
    background-color:azure;
}

div.chatwithme{
    background-color: aqua;
}

div.boxfoto{
    border-radius: 10px;
    width: 100%;
    margin:auto;
    padding: 10px;
    
}

div.personalfhoto{
    height: 100%;
    width:auto;
    overflow: hidden;
     
}

.personalfhoto img{
    width: 100%;
}

div.boxlogo1{
    width:100;
}

button{
    font-size: 20px;
    font-weight: 700;
    color:#19184d;
    background-color: papayawhip;
    padding: 15px 60px;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin: 5px;   
}

button.learnmore {
    display: block;
    margin: auto; 
}

.vidiocontainer{
    margin: auto;
}

.vidiocontainer iframe{
    border-radius: 50%;
    filter:  drop-shadow(0 0 0.75rem crimson);
}

label
{
    display:block;
    
}

/*#######Mobile##########*/

@media screen and (max-width: 680px){
    ul.topnav li{
        display: none;
    }
    ul.topnav li.dropdownicon{
        display: block;
        float: right;
    }
    ul.topnav.responsive li.dropdownicon{
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive {
        position:relative;
    }
    ul.topnav.responsive li {
        display: inline;
        float:none;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
        padding: 2px;    
    }
    article p {
            font-size:25px;
        }
    div.icon img {
        width: 100%;
    }
    .col-6,
    .col-4,
    .col-7,
    .col-5
    .col-3
    {
        width: 100%;
        margin: auto;
    }
    div.mobile{
        width:50%;
        display:block,
    }
    h1.section2header{
        font-size: 40px;
    }
    
    div.box{
        padding: 5px;
        display: block;
    }
    div.icon{
        margin:10px;
        width: 5o%;
    }
    div.leftside-col,
    div.rightside-col{
        margin:15px;
    }
    input[type="text"]{
        width: 350px;
    }
    .vidiocontainer iframe{
        margin: auto;
        position: relative;
        width: 100%;
        overflow: hidden;
    }
}
