
body{
     background-size: cover;
  background-repeat: no-repeat;
    background-image: url('fotos/background.png');
}
a{
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
     text-transform:uppercase;
    color: white;
}
a:hover{
    color: black;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after{
    display: table;
    clear: both;
    content: "";
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
.bottontop{
    display: block;
    text-align: center;
}
button.loginbtn,.signin,.home{
    font-size: 15px;
    font-weight: 700;
    color:white;
    cursor:pointer;
    background: transparent;
    padding: 15px 60px;
    border-radius: 10px;
    display: block;
    text-align: center; 
}
button.home{
    margin-left: 50%;
}
button:hover{
    color: black;

}
#login-form{
    display: none;
}
.form-box{
    width: 380px;
    height:480px;
    position: relative;
    margin:2% auto;
    background: rgba(0,0,0,0.3);
    padding:10px;
    overflow: hidden;
}
.button-box{
    width: 200px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.button-box button {
    color: white;
}
.toggle-btn{
    padding: 10px 30px;
    cursor:pointer;
    background: transparent;
    border:0;
    outline:none;
    position: relative;
}
#btn{
    top:0;
    left:0;
    position: absolute;
    width:110px;
    height: 100%;
    background: #F3c693;
    border-radius: 30px;
    transition: .5s;
}
.input-group-login{
    top:150px;
    position:absolute;
    width:280px;
    transition: .5s;
}
.input-group-register{
    top:120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left:0;
    border-top: 0;
    border-right: 0;
    border-bottom:1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background: #F3c693;
    border:0;
    outline:none;
    border-radius:30px;
}
.check-box{
    margin: 30px 10px 34px 0;
}
span{
    color:white;
    font-size:12px;
    bottom:68px;
    position:absolute;
}
#login{
    left:50px;
}
#login input{
    color:white;
    font-size:15;
}
#register{
    left:450px;
}
#registeer input{
    color:white;
    font-size: 15;
}
::placeholder{
    color:white;
    opacity: 1;
}
::placeholder:hover{
    color: black;
}
div.box{
    background-color: transparent;
    border-radius: 10px;
    padding: 36px 24px 40px 24px;
    margin: 20px;
    text-align: center;
    filter:  drop-shadow(0 0 0.75rem #19184d);
}